<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - HotelReservationsManager</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/@@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('@ViewData["Background"]');" class="bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light semi-transparent-white-background border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hotel Reservations Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            if (this.User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown align-self-center">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        User
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item text-center"
                                           asp-area="Identity" asp-page="/Account/Register">
                                            Create
                                        </a>
                                        <a class="dropdown-item text-center"
                                           asp-controller="User" asp-action="Search">
                                            Search
                                        </a>
                                    </div>
                                </li>
                            }

                            <li class="nav-item dropdown align-self-center">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Client
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item text-center"
                                       asp-controller="Client" asp-action="Create">
                                        Create
                                    </a>
                                    <a class="dropdown-item text-center"
                                       asp-controller="Client" asp-action="Search">
                                        Search
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown align-self-center">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Room
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item text-center"
                                           asp-controller="Room" asp-action="Create">
                                            Create
                                        </a>
                                    }
                                    <a class="dropdown-item text-center"
                                       asp-controller="Room" asp-action="Search">
                                        Search
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown align-self-center">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Reservation
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item text-center"
                                       asp-controller="Reservation" asp-action="Create">
                                        Create
                                    </a>
                                    <a class="dropdown-item text-center"
                                       asp-controller="Reservation" asp-action="Search">
                                        Search
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted semi-transparent-white-background">
        <div class="container text-center sem">
            &copy; 2020 - HotelReservationsManager - Stefania Tsvetkova
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
