@model HotelReservationsManager.Models.RoomCreateViewModel
@{
    ViewData["Title"] = "Create Room";
}

<h1>Create Room</h1>

<hr />

<div class="col-md-4">
    <form asp-action="Create" asp-controller="Room" method="post">
        <div class="row mb-3">
            <a class="text-muted">Capacity:</a>
            <input asp-for="Capacity" class="form-control" />
        </div>

        <div class="row mb-3">
            <a class="text-muted">Room type:</a>
            <select class="custom-select mb-3" asp-for="Type">
                <option value="TwoBeds">Room with separate beds</option>
                <option value="DoubleBed">Room with a double bed</option>
                <option value="Apartment">Apartment</option>
                <option value="PentHouse">Penthouse</option>
                <option value="Maisonette">Maisonette</option>
            </select>
        </div>

            <div class="row mb-3">
                <a class="text-muted">Price for adults:</a>
                <input asp-for="AdultPrice" class="form-control" />
            </div>

            <div class="row mb-3">
                <a class="text-muted">Price for children:</a>
                <input asp-for="ChildPrice" class="form-control" />
            </div>

            <div class="row mb-3">
                <a class="text-muted">Number of the room:</a>
                <input asp-for="Number" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
