@model HotelReservationsManager.Models.ClientViewModels.ClientDetailsViewModel
@{
    ViewData["Title"] = "Client details";
}

<h1>Client details</h1>

<hr />

<div class="col-md-4">
    <div class="row mb-3">
        <a class="text-muted">First name:</a>
        <input asp-for="FirstName" class="form-control" disabled />
    </div>

    <div class="row mb-3">
        <a class="text-muted">Last name:</a>
        <input asp-for="LastName" class="form-control" disabled />
    </div>

    <div class="row mb-3">
        <a class="text-muted">Email:</a>
        <input asp-for="Email" class="form-control" disabled />
    </div>

    <div class="row mb-3">
        <a class="text-muted">Phone number:</a>
        <input asp-for="PhoneNumber" class="form-control" disabled />
    </div>

    <div class="row mb-3 custom-control custom-checkbox">
        @if (Model.IsAdult)
        {
            <input type="checkbox" class="custom-control-input" id="isAdult" disabled>
        }
        else
        {
            <input type="checkbox" class="custom-control-input" id="isAdult" checked disabled>
        }
        <label class="custom-control-label" for="isAdult">A child</label>
    </div>

    <div class="col-md-1">
        <a asp-action="Edit" asp-controller="Client" asp-route-id="@Model.Id" class="mb-3 btn btn-warning my-3">Edit</a>
    </div>

</div>
