
@{
    ViewData["Title"] = "RoomNotFree";
}

<div class="jumbotron bg-danger col-md-4 mx-auto">
    <h2 class="text-center">Reservation could not be created!</h2>
    <hr class="style1" />
    <a>The choosen room is not free in this period. Try choosing another room or period.</a>
</div>


