
@{
    ViewData["Title"] = "TooManyPeople";
}

<div class="jumbotron bg-danger col-md-4 mx-auto">
    <h2 class="text-center">Reservation could not be created!</h2>
    <hr class="style1" />
    <a>The choosen room's capacity is less than the number of clients. Try choosing another room.</a>
</div>
